/* https://colorhunt.co/palette/191a191e51284e9f3dd8e9a8 */
/* https://colorhunt.co/palette/343434055e6862a388b9d2d2 */

$BlackGreen: #191A19;
$DarkGreen: #1E5128;
$Green: #4E9F3D;
$LightGreen: #D8E9A8;

$Grey: #343434;
$GreyShaded: #121212;
$Blue: #055E68;
$BlueGreen: #62A388;
$BlueGreenTinted: #A5CABB;
$BlueGreenShaded: #4C816B;
$BlueWhite: #B9D2D2;

/* $backgroundWhite: #F0EAD6; */
$backgroundWhite: #F5F5F5;

