/* Color Pallete */
@import "./ColorPallete.module.scss"; 

.Footer{
	display: flex;
	justify-content: space-between;
	background-color: $Blue;
	margin-bottom: 0;
	padding: 10px;
	align-items: center;
}

.Footer h1{
	font-size: x-small;
	color: white;
}

.Footer img{
	width: 100px;
}

.Socials{
	color: $BlueWhite;
	font-size: small;
    margin-left: 3px;
}

@media only screen and (max-width: 480px) {
	.Footer h1{
        font-size: xx-small;
    }
	.Socials{
		font-size: x-small;
	}
}