.shareBtnContainer{
	display: flex;
	flex-direction: row;
	gap: 0.6rem;
}

.shareH3{
	font-size: medium;
}

.shareButtons{
	display: flex;
	flex-direction: row;
	gap: 0.6rem;
}
.icon{
	height: 8px;
	width: 8px;
}
