/* Color Pallete */
@import "../ColorPallete.module.scss"; 

.header{
    margin: 1em 24px 1em 24px;
}

.headerText{
    font-size: xx-large;
    color: $Grey;
}

.contactsContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 1em 24px 1em 24px;
    background-color: $backgroundWhite;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border: solid 1px $Blue;
    border-radius: 1em;
    background-color: white;
}
.icon{
	font-size: 3rem;
    color: $Blue;
}
.contactHeader1{
    font-size: x-large;
    color: $Grey;
}
.contactHeader2{
    font-size: large;
    color: $Grey;
}
.contactText{
    text-align: center;
    font-size: medium;
}

@media only screen and (max-width: 900px) {
    .contactsContainer{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 480px) {

}