.packageListContainer{
	display: flex;
	flex-direction: column;
	margin: 14px 24px 14px 24px;
	min-height: 80vh;
}

.packageList{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

/* Scale to Small Screens */
@media only screen and (max-width: 860px) {
    .packageList {
    	grid-template-columns: repeat(1, 1fr);
	}
}