.PackagesPage{
	display: flex;
	flex-direction: column;
	margin: 1em 24px 1em 24px;
	min-height: 80vh;
}
.packList{
	animation: packsEntrance 1s ease 0s 1 normal forwards;
}
@keyframes packsEntrance {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media only screen and (max-width: 640px) {
	.PackagesPage{
		margin: 1em 12px 1em 12px;
	}
}