
.ProductsPageContainer{
	margin: 1em 24px 1em 24px;
	min-height: 80vh;
}

.list{
	padding: 0 48px 0 48px;
    animation: productsEntrance 1s ease 0s 1 normal forwards;
}
@keyframes productsEntrance {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media only screen and (max-width: 768px) {
    .list{
        padding: 0 24px 0 24px;
    }
}
@media only screen and (max-width: 640px) {
    .ProductsPageContainer{
        margin: 1em 12px 1em 12px;
    }
	.list{
        padding: 0;
    }
}